.jumbotron {
  /*background: linear-gradient(#1e76b7, #387d98);*/
  background-color: #34495e;
  background-size: cover;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  text-align: center;
  padding-bottom: 0;
  margin-bottom:0;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.jumbotron h1 {
  color: white;
  font-size: 97px;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: 3px;
}

/* Colored background block */
.full-block {
  background-color: #f6f6f6; /*#efefef;*/
  background-size: cover;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #333;
}

/* Custom container */
.container-full {
  /*  text-align: center;*/
  /*margin: 0 auto;*/
  width: 100%;
}

/*.navbar-custom {
  background-color: #222222;
}*/

body {
  padding-top: 50px;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
}

footer {
  color: #656565;
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textblock {
  padding-top: 50px;
  padding-bottom: 50px;
}

.centered {
    float: none;
    margin: 0 auto;
}